<!DOCTYPE html>
<html>

<head>
<title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
</head>
<body>
<h1>pages#index</h1>
<p>
<p>Find me in app/views/pages/index.html.erb</p>

</body>
</html>
